html {
  background-color: #333;
  color: #ccc;
}

a {
  background-color: #ccc;
  color: #333;
  padding: 1px;
  border-radius: 2px;
  text-decoration: none;
}

#wrap {
  margin: 5px;
}

#wrap table {
  border-collapse: collapse;
}

#wrap table tr, #wrap table td, #wrap table th {
  padding: 4px;
  border: 1px solid #ccc;
}
